/* High contrast */
.Y {
    color: #ffc;
    fill: #ffc;
}

.R {
    color: #900;
    fill: #900;
}

.B {
    color: #399;
    fill: #399;
}

.bg {
	color: #fff;
    background-color: #000;
}