/* Soft colors */
.Y {
    color: #ffc;
    fill: #ffc;
    stroke: #630;
    stroke-width: 2;
/*    border: 1px solid #630;   */
}

.R {
    color: #900;
    fill: #900;
    stroke: #303;
    stroke-width: 2;
/*    border: 1px solid #303;  */  
}

.B {
    color: #3cc;
    fill: #3cc;
    stroke: #006;
    stroke-width: 2;
/*    border: 1px solid #006;   */
}

.bg {
    color: #000;
    background-color: #fff;
}