/*
    CONTENTS
====================
1. Major element styles
    - Universal, body, main, aside, article
2. Header/footer styles
3. Text styles
    - headings, p, li
4. "How to use" and "Valid characters" section styles
    4a. Expanding/collapsing sections
5. Input/output section styles
6. Buttons and clickable menu options
    6a. Display Options menu container
    6b. Buttons and drop-down menu headers
    6c. Drop-down menu headers
7. Element stack order (z-index)
8. Media queries
====================
*/

/*
====================
1. Major element styles
    Universal, body, main, aside, article
====================
*/
* {
    margin: 0;
    padding: 0;
    font-family: Trebuchet, Tahoma, sans-serif;
    /* use box-sizing to make width property include padding, margin */
    box-sizing: border-box;
}

body {
    width: 100%;	
    background-color: #ccc;
    font-size: 1em;

    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

main {
    clear: both;
    flex: 2 0 auto;
}

aside {
    flex-basis: auto;
    display: flex;
    flex-direction: column;
}

article { margin-bottom: 0.5em; }


/*
====================
2. Header and footer styles
====================
*/
header, footer {
    width: auto;
    color: white;
    background-color: black;
}

header {
    height: 7rem;
    width: auto;
    margin-bottom: 2em;
}

#header_logo {
    height: 6rem;
    background-image: url(../images/logo.svg);
    background-size: contain;
    background-position: 1em top;
    background-repeat: no-repeat;
}

#header_tagline {
    background-color: white;
    padding: 0.5em;
    text-align: center;
}

footer {
    bottom: 0;
    margin-top: 1em;
    padding: 1.5em 1em;
    flex-basis: 5rem;
}

footer h3 {
    padding: 0;
    color: white;
}


/*
====================
3. Text styles
    Headings, p, li
====================
*/

h1, h2, h3 {
    font-weight: normal;
    font-variant: small-caps;
    color: #666;
}

h1 { font-size: 1.5em; }

h2 { font-size: 1.2em; }

h3 { padding: 1.5%; }

h4 { font-size: 1em; }

h5 { font-weight: normal; }

p {
    padding: 0.5em;
    font-size: 0.9em;
}

li, p { clear: both; }


/*
====================
4. "How to use" and "Valid characters" section
====================
*/
#howto { padding: 0.25em 0.25em 0; }
#howto ul {padding: 0 0.5em 0.5em;}
#howto ul li {
    margin-left: 1em;
    font-size: 0.9em;
}

/*
    4a. Expanding/collapsing section styles
*/
.expanded,
.collapsed {
    line-height: 2em;
    /* line-height must be at least
    as much as :before width */
}

/* icons */
.expanded:before { content: url(../images/icon_expanded.svg); }
.collapsed:before { content: url(../images/icon_collapsed.svg); }

/* icon properties */
.expanded:before,
.collapsed:before {
    width: 0.5em;
    padding-right: 0.5em;
    float: left;
}


/*
====================
5. Input/output section styles
====================
*/
/*
Output styles
*/
#output_wrapper {
    margin: 0.5em 0em;
    padding: 0.5em;
    border: 2px solid white;
    flex: 1 0 5rem;
}
/* expands wrapper so svgs don't overflow */
#output_wrapper::after {
    content: "";
    clear: both;
    display: table;
}
/* Display svg symbols in rows*/
#output_wrapper svg {float: left;}

/*
Input styles
*/
textarea {
    width: 100%;
    font-size: 0.9em;
    padding: 0.75em 0.5em;
    border: 2px solid #666;
}


/*
====================
6. Buttons and clickable menu options
====================
*/
/* Display Options menu container */
#display_options {
    margin-bottom: 0.5em;
    padding: 0.25em;
}

#display_options nav {
    /* keeps flexbox from expanding with dropdown menu*/
    height: 4em;
    display: flex;
}

/*
Buttons and drop-down menu headers
*/
button, ul.display_mode { 
    margin: 2px;
    border-radius: 5px;
    flex: 1;
}

button {
    padding: 0.5em;
    display: block;
    border: none;
    font-size: 0.9em;
    color: black;
    background-color: white;
}

/*
Drop-down menu headers
*/
.display_mode {
    padding: 0.5em 1em 0;
    color: white;
    background-color: #666;
    list-style: none;
}

.display_mode h4 {
    text-align: center;
    font-size: 0.9em;
    margin: 0.25em 0;
}

/* Drop-down menu options */
.display_mode li {
    display: none;
    background-color: #ccc;
}

/* Show drop-down options on hover */
li a,
.display_mode:hover li,
.display_mode:focus li
{ display: block; }

a.size_options {
    padding: 0.5em;
    text-decoration: none;
    color: black;
}

/* Highlight and bold on hover */
button:hover,
button:focus,
a:hover,
a:focus{
    font-weight: bold;
    background-color: white;
}

/* Let white bg show through image on hover -
gives the illusion of being highlighted */
li:focus a img,
li:hover a img
{ opacity: 0.75; }

/* Color option menu styles */
a.color_options { padding: 1px 0; }
a.color_options img {max-height: 3em;}

#input_button_wrapper,
#display_options {
    border: 2px solid white;
    border-radius: 10px;
    text-align: center;
}

#input_button_wrapper {
    padding: 2px;
    display: flex;
}


/*
====================
7. Element stack order (z-index)
====================
*/
#display_options {z-index: 5}
#input_button_wrapper {z-index: 4}
textarea {z-index: 3}
#output_wrapper {z-index: 2}


/* 
====================
8. Media Queries
====================
*/
/* mobile portrait */
@media screen and (min-width:600px)
{
    main,
    article { margin: auto 1em; }
    #howto {
        flex-direction: row;
        margin-bottom: 0.5em;
    }
}

@media only screen and (min-width: 760px)
{
    main,
    article { margin: auto 2em; }
}

@media only screen and (min-width:769px)
{
    body { 
        flex-flow: row wrap;
        align-content: stretch;
    }

    header,
    footer {
        flex: 3 0 100%;
        clear: both;
        margin: 0;
    }

    header { align-self: flex-start; }
    footer { align-self: flex-end; }

    main { margin: 0 1em; }
    main aside { flex: 1 0 5rem; }

    #output_wrapper {
        flex: 1 0 5rem;
    }

    #howto {
        margin-top: 0;
        flex-direction: column;
        justify-content: flex-start;
    }

    #howto_section {
        width: 40%;
        height: auto;
        align-self: stretch;
    }
}
