* {
    margin: 0;
    padding: 0;
    font-family: Trebuchet, Tahoma, sans-serif;
    /* use box-sizing to make width property include padding, margin */
    box-sizing: border-box;
}

body {
    width: 100%;	
    background-color: #ccc;
}

header, footer {
	min-height: 4rem;
    padding: 1.5em 1em;
    color: white;
    background-color: black;
}

footer {
    /*    margin-top: auto; */
    bottom: 0;
}

main {
    clear: both;
    position: relative;
}

aside {
    margin: 0;
    padding: 2%;
}

h3 {
	padding: 1.5%;
    text-align: center;
	/*    vertical-align: middle;	*/
    font-weight: normal;
    color: #666;
}

p {padding: 0.5em;}

svg {float: left;}

#howto {
    padding: 2% 2% 0%;
}
#howto ul {padding: 0.5em;}
#howto ul li {margin-left: 1em;}


textarea {
    position: relative;
    width: 100%;
    padding: 1em 2%;
    border: 2px solid #666;
    z-index: 3;
}

#input_wrapper {

    padding: 2%;
}
#input_button_wrapper {
    position: relative;
    padding: 2px;
    border: 2px solid white;
    border-radius: 10px;
    z-index: 4;
    display: flex;
}

button {
    margin: 2px;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    flex: 1;
    color: black;
    background-color: white;
    display: block;
}

button:hover, button:focus, a:hover, a:focus {font-weight: bold;}

#output_wrapper {
    position: relative;
    min-height: 5rem;
    padding: 2%;
    border: 2px solid white;
    z-index: 2;
}
/* make wrapper expand so svgs don't overflow */
#output_wrapper::after {
	content: "";
	clear: both;
	display: table;
}

/* Display option menu */
#display_options {
    position: relative;
    margin: 1% 0%;
    z-index: 5;
    border: 2px solid white;
    border-radius: 10px;
}
#display_options nav {
	/* keeps flexbox from expanding with dropdown menu*/
	height: 70px;
	display: flex;
}

#display_options nav ul {
    margin: 4px;
    padding: 0.5em 1em 0;
    font-size: 14px;
    flex: 1;
    color: white;
    background-color: #666;
    border-radius: 5px;
    list-style: none;
}

/* FIXME: center text in display_option buttons with media queries */
nav ul h5 {
	text-align: center;
    vertical-align: middle;
	font-size: 14px;
    margin: 0.25em 0;
}

h5.display_mode {
	font-weight: normal;
}

li a {
    display: block;
    vertical-align: middle;
    padding: 0.5em;
    text-decoration: none;
    color: black;
}
a.color_options {padding: 1px 0;}
li a img {max-height: 50px;}
nav > ul > li {display: none;}

nav ul:hover li, nav ul:focus li {
    display: block;
    background-color: #ccc;
}
nav ul li:focus, nav ul li:hover {
    font-weight: bold;
    background-color: white;
}
nav ul li:focus a img, nav ul li:hover a img {
    opacity: 0.75;
}



/* MEDIA QUERIES */
/* mobile portrait */
@media only screen and (max-width:600)
{
	/* as is */
}

/* mobile landscape */
@media only screen and (max-width: 768)
{

}
/* desktop */

@media only screen and (min-width:769)
{
    /* Display option menu */
    #display_options nav {
        /* keeps flexbox from expanding with dropdown menu*/
        height: 50px;
        display: flex;
    }
    nav ul h5 {
        text-align: center;
        vertical-align: middle;
        font-size: 14px;
        margin: 0.5em 0;
        float: left;
    }

    h5.display_mode {
        font-weight: normal;
        float: right;
    }
    li {clear: both;}

}
